appdirs==1.4.0
Beaker==1.8.0
chardet==2.3.0
Django==1.9.3
Jinja2==2.8
lxml==4.6.3
Mako==1.0.4
MarkupSafe==0.23
packaging==16.7
pycrypto==2.6.1
pyparsing==2.1.9
python-dateutil==2.5.3
python-Levenshtein==0.12.0
pytz==2016.6.1
pyxdg==0.25
PyYAML==3.12
requests==2.11.1
six==1.10.0
Twisted==16.4.1
urllib3==1.18
virtualenv==15.0.3
zope.interface==4.3.2
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.6.0
Unipath==1.0
python-decouple==3
Markdown==2.6.6
bleach==1.4.3
whitenoise==3.2
