{% extends 'visem/base.html' %}

{% block content %}

<div class="wrapper" id="wrapper">
    <canvas id="visemCanvas"  resize=""></canvas>  
    
    <a href="#">
        <img id="escape_route" src="../../../static/images/escape_route.png" alt="Escape Route" align="left">
    </a> 
    <canvas id="visemCanvas"  resize=""></canvas>        
</div>
<div id="textualInformation"></div>

<p><img class="hidden" id="block" src="../../../static/images/block_big.png"></p>
    
</div>
<div id="textualInformation"></div>

{% endblock content %}

