/************************************
*                                   *
*                                   * 
*                                   *
*                                   *
************************************/


body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

canvas{

}

.wrapper{
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-width: 100px;
	height: 100%;
	min-height: 200px;
	position: fixed;
}

.navigator{
	margin: 0px;
	padding: 0px;
	width: 85px;
	height: 100%;
	min-height: 20px;
	background: #666 no-repeat;
	float: left;
}

#visemCanvas{
	margin: 0px;
	padding: 5px;
	display: block;
	position: relative;
	/*border: 1px solid gray;*/
}

#textualInformation{
	margin: 0px;
	padding: 5px 5px 0px 0px; 
	width: 100%;
	height: 30px;
	background: #999 no-repeat;
	display: block;
	position: fixed;
	overflow: hidden;
}
